.header_container {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: center;
  opacity: 0.9;
}

.header {
  color: rgb(214, 28, 205);
  font-size: 5rem;
  font-weight: 800;
  margin: 0;
}

.header_text {
  color: rgb(245, 85, 11);
  font-weight: 800;
}
